@import '../../style/variables';

.star {
  width: 30px;
  height: 30px;

  @media screen and (max-width: 992px) {
    width: 15px;
    height: 15px;
  }

  .starGrey {
    fill: $tertiary;
  }

  .starRed {
    fill: $primary;
  }
}
