@import '../../style/variables';

.collapseBox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .title {
    background: $primary;
    color: $white;
    padding: 13px 20px;
    border-radius: $little-radius;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }

  .content {
    padding: 45px 20px 13px 20px;
    background: $secondary;
    transform: translateY(-10px);
    border-bottom-left-radius: $little-radius;
    border-bottom-right-radius: $little-radius;
    position: relative;
    z-index: 0;
    flex-grow: 1;
  }
}