@import '../../style/variables';

.footer {
  @include center-in-box;
  background: $bg-footer;
  flex-direction: column;
  padding-top: 66px;
  padding-bottom: 30px;
  gap: 40px;


  img {
    width: 122px;
  }

  p {
    color: $white;
    font-size: 2.4rem;

    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
    }
  }
}